@charset "UTF-8";
.appear.up .item {
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.appear.down .item {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.appear.left .item {
  -webkit-transform: translateX(40px);
          transform: translateX(40px);
}

.appear.right .item {
  -webkit-transform: translateX(-40px);
          transform: translateX(-40px);
}

.appear .item {
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
  opacity: 0;
}

.appear.inview .item {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.appear.inview .item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.appear.inview .item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.appear.inview .item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.appear.inview .item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.appear.inview .item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.appear.inview .item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.appear.inview .item:nth-child(7) {
  -webkit-transition-delay: 0.7s;
          transition-delay: 0.7s;
}

.appear.inview .item:nth-child(8) {
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}

.appear.inview .item:nth-child(9) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

.appear.inview .item:nth-child(10) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

.btn {
  position: relative;
  display: inline-block;
  background-color: white;
  border: none;
  font-weight: 600;
  padding: 10px 40px;
  margin: 10px auto;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-decoration: none !important;
  border-radius: 5px;
}

.btn.filled {
  background-color: #ffe6f7;
  color: #c689c6;
}

.btn.filled:hover {
  background-color: #c689c6;
  color: #ffe6f7;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 60px;
  width: 300px;
}

.mobile-menu .logo {
  padding: 0 40px;
  font-size: 38px;
  font-weight: 600;
  text-shadow: 2px 2px 2px #c689c6;
  opacity: 0;
}

.mobile-menu__btn {
  background-color: unset;
  border: none;
  outline: none !important;
  cursor: pointer;
}

.mobile-menu__btn > span {
  background-color: black;
  width: 35px;
  height: 2px;
  display: block;
  margin-bottom: 9px;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.mobile-menu__btn > span:last-child {
  margin-bottom: 0;
}

.mobile-menu__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  cursor: pointer;
  z-index: 200;
}

.mobile-menu__main {
  padding: 0;
  -webkit-perspective: 2000px;
          perspective: 2000px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.mobile-menu__item {
  list-style: none;
  display: block;
  -webkit-transform: translate3d(0, 0, -1000px);
          transform: translate3d(0, 0, -1000px);
  padding: 0 40px;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: opacity 0.2s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s, -webkit-transform 0.3s;
  opacity: 0;
}

.mobile-menu__link {
  display: block;
  margin-top: 30px;
  color: black;
  text-decoration: none !important;
}

.menu-open #container {
  -webkit-transform: translate(-300px, 60px);
          transform: translate(-300px, 60px);
  -webkit-box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
          box-shadow: 0 8px 40px -10px rgba(0, 0, 0, 0.8);
}

.menu-open .mobile-menu .logo {
  opacity: 1;
}

.menu-open .mobile-menu__cover {
  opacity: 1;
  visibility: visible;
}

.menu-open .mobile-menu__item {
  -webkit-transform: none;
          transform: none;
  opacity: 1;
}

.menu-open .mobile-menu__item:nth-child(1) {
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s;
}

.menu-open .mobile-menu__item:nth-child(2) {
  -webkit-transition-delay: 0.14s;
          transition-delay: 0.14s;
}

.menu-open .mobile-menu__item:nth-child(3) {
  -webkit-transition-delay: 0.21s;
          transition-delay: 0.21s;
}

.menu-open .mobile-menu__item:nth-child(4) {
  -webkit-transition-delay: 0.28s;
          transition-delay: 0.28s;
}

.menu-open .mobile-menu__item:nth-child(5) {
  -webkit-transition-delay: 0.35s;
          transition-delay: 0.35s;
}

.menu-open .mobile-menu__btn > span {
  background-color: black;
}

.menu-open .mobile-menu__btn > span:nth-child(1) {
  -webkit-transition-delay: 70ms;
          transition-delay: 70ms;
  -webkit-transform: translateY(11px) rotate(135deg);
          transform: translateY(11px) rotate(135deg);
}

.menu-open .mobile-menu__btn > span:nth-child(2) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transform: translateX(-18px) scaleX(0);
          transform: translateX(-18px) scaleX(0);
}

.menu-open .mobile-menu__btn > span:nth-child(3) {
  -webkit-transition-delay: 140ms;
          transition-delay: 140ms;
  -webkit-transform: translateY(-11px) rotate(-135deg);
          transform: translateY(-11px) rotate(-135deg);
}

/******************************************************************

Stylesheet: ベーススタイル

******************************************************************/
body {
  font-family: "Kameron", "Noto Sans JP", sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

.font-sm, .sub-title {
  font-size: 14px;
}

.font-md {
  font-size: 17px;
}

.font-lr {
  font-size: 17px;
}

.font-lg, .main-title {
  font-size: 25px;
}

.mb-sm {
  margin-bottom: 16px !important;
}

.mb-lg {
  margin-bottom: 80px !important;
}

.pb-sm {
  padding-bottom: 16px !important;
}

.pb-lg {
  padding-bottom: 80px !important;
}

.content-width, .header__inner, #obsession {
  width: 90%;
  margin: 0 auto;
  max-width: 1070px;
}

.main-title {
  font-weight: 600;
  margin-bottom: 0;
  display: block;
  text-shadow: 2px 2px 2px #c689c6;
}

.sub-title {
  color: #535353;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#main-content {
  position: relative;
  z-index: -2;
  background-image: url(../images/stripe1.jpg);
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
  background-blend-mode: lighten;
  overflow: hidden;
}

main {
  position: relative;
  z-index: -1;
}

#container {
  background-color: white;
  position: relative;
  z-index: 10;
  -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s;
  transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

/* HHEADER
------------------------------- */
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.header__nav {
  display: none;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__li {
  margin-left: 20px;
}

.header__li > a {
  color: #c689c6;
  text-decoration: none !important;
  text-transform: uppercase;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* 大きな背景画像 */
.big-bg {
  background-size: cover;
  background-position: center top;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

/* モバイル版
------------------------------- */
/* HOME
------------------------------- */
#home {
  background-image: url(../images/cake2.jpg);
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#home .home-content .page-title {
  text-transform: none;
  margin: 0;
  color: #ffe6f7;
  text-shadow: 2px 2px 2px #c689c6;
  font-size: 4rem;
}

#home .home-content p {
  font-size: 1.125rem;
  margin: 20px 0 42px;
  color: #ffe6f7;
  text-shadow: 2px 2px 2px #c689c6;
}

/* HOME
------------------------------- */
#obsession .professional {
  margin: 0 auto;
  margin-top: -100px;
  width: 100%;
  height: 500px;
  overflow: hidden;
  scale: 0.9;
}

#obsession .professional img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#obsession .profile {
  margin-top: -150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#obsession .profile__left {
  margin-top: 60px;
  position: relative;
  display: block;
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
          box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

#obsession .profile__left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 10%;
     object-position: 50% 10%;
}

#obsession .profile__left .name {
  height: 20px;
  width: 60%;
  position: absolute;
  bottom: 5%;
  left: 0;
  background-color: #f7f0f5;
  border-radius: 0 10px 10px 0;
  text-align: center;
}

#obsession .profile__right {
  position: relative;
  margin-top: 80px;
  padding: 10px;
  display: block;
  background-color: #f7f0f5;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
          box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

#obsession .profile__right .ribbon-container {
  position: absolute;
  top: -10%;
  right: -15%;
  height: 80px;
  width: 40%;
  z-index: -5;
  -webkit-transform: rotateY(180deg) rotate(-5deg);
          transform: rotateY(180deg) rotate(-5deg);
}

#obsession .profile__right .ribbon-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#obsession .obsession {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#obsession .obsession__header__bi {
  font-size: larger;
  text-shadow: 2px 2px 2px #c689c6;
}

#obsession .obsession__header__azi {
  font-size: larger;
  text-shadow: 2px 2px 2px #c689c6;
}

#obsession .obsession__left {
  margin-top: 80px;
  padding: 10px;
  padding-bottom: 20px;
  display: block;
  background-color: green;
  height: 100px;
  width: 100%;
  background-color: #f7f0f5;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
          box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
}

#obsession .obsession__left .ribbon-container {
  position: absolute;
  top: -10%;
  left: -15%;
  height: 80px;
  width: 40%;
  -webkit-transform: rotate(-5deg);
          transform: rotate(-5deg);
  z-index: -5;
}

#obsession .obsession__left .ribbon-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#obsession .obsession__right {
  margin-top: 80px;
  display: block;
  height: 300px;
  width: 100%;
  overflow: hidden;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
          box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
  -webkit-transform: rotate(5deg);
          transform: rotate(5deg);
}

#obsession .obsession__right .item {
  height: 100%;
}

#obsession .obsession__right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MENU
------------------------------- */
#menu {
  position: relative;
  overflow: hidden;
}

#menu::before {
  display: block;
  content: "";
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f0f5;
  z-index: -1;
}

#menu .page-title {
  text-shadow: 1px 1px 1px #c689c6;
}

#menu .menu-content {
  max-width: 560px;
  padding-top: 10%;
}

#menu .menu-content .page-title {
  text-align: center;
}

#menu .menu-content p {
  font-size: 1.125rem;
  margin: 10px 0 0;
}

#menu .grid {
  display: -ms-grid;
  display: grid;
  gap: 26px;
  -ms-grid-columns: (minmax(240px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  padding-bottom: 30px;
}

#menu .grid .item {
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
          box-shadow: 5px 5px 5px 0 rgba(157, 157, 157, 0.5);
}

#menu .grid .item .discrition {
  margin: 0 8px;
}

/* CONTACT
------------------------------- */
#contact {
  background-image: url(../images/happy-birthday.jpg);
  background-position: left 25% bottom 60%;
  background-color: rgba(255, 255, 255, 0.8);
  background-blend-mode: lighten;
  width: 100%;
  min-height: 400px;
  position: relative;
  padding: 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* フォーム */
  /* フォーム */
}

#contact-content {
  max-width: 560px;
  padding-top: 10%;
  width: 70%;
}

#contact .page-title {
  text-shadow: 1px 1px 1px #c689c6;
}

#contact form div {
  margin-bottom: 14px;
}

#contact label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

#contact textarea {
  height: 6rem;
}

#contact input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

#contact input[type="text"],
#contact input[type="email"],
#contact textarea {
  max-width: 100%;
}

@media (min-width: 480px) {
  /******************************************************************

Stylesheet: 480px以上(スマホの横向き)のモニタで適用

******************************************************************/
}

@media (min-width: 600px) {
  /******************************************************************

Stylesheet: 600px以上のタブレットやモニタで適用

******************************************************************/
  #obsession .profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: -300px;
  }
  #obsession .profile__left {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  #obsession .profile__right {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    height: 280px;
    margin-top: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #obsession .profile__right .ribbon-container {
    position: absolute;
    top: -10%;
    right: -15%;
    height: 150px;
    width: 40%;
    z-index: 10;
    -webkit-transform: rotateY(180deg) rotate(-5deg);
            transform: rotateY(180deg) rotate(-5deg);
  }
  #obsession .profile__right .ribbon-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #obsession .obsession {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  #obsession .obsession__left {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
    height: 280px;
    margin-bottom: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #obsession .obsession__left .ribbon-container {
    position: absolute;
    top: -10%;
    left: -15%;
    height: 150px;
    width: 40%;
    z-index: 10;
    -webkit-transform: rotate(-5deg);
            transform: rotate(-5deg);
  }
  #obsession .obsession__left .ribbon-container img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #obsession .obsession__right {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  #menu {
    margin-top: -20%;
  }
  #menu-content {
    max-width: 560px;
    padding-top: -10%;
  }
  #contact .menu-content {
    padding-top: 0%;
  }
}

@media (min-width: 960px) {
  /******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
  .header__nav {
    display: block;
  }
  .mobile-menu__btn {
    display: none;
  }
  .home-content .page-title {
    font-size: 5rem !important;
  }
  .home-content p {
    font-size: 2rem !important;
  }
  .menu-content {
    padding-top: 10%;
  }
  input[type="text"],
  input[type="email"] {
    width: 600px !important;
  }
  textarea {
    width: 600px !important;
  }
}

@media (min-width: 1280px) {
  /******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/
  .travel__inner {
    padding: 50px 150px;
  }
  .popular__item {
    -ms-flex-preferred-size: 23%;
        flex-basis: 23%;
  }
  .side {
    display: block;
  }
}
/*# sourceMappingURL=style.css.map */